{%- assign _WORKER_URL = site.pageview.leancloud.worker_url -%}

{%- if page.key and _WORKER_URL -%}
  <script>
    {%- include pageview-providers/leancloud/leancloud.js -%}
  </script>
  <script>
    (function() {
      var pv = window.pageview({ workerUrl: '{{ _WORKER_URL }}' });
      var key = '{{ page.key }}';
      var title = {{ page.title | jsonify }};
      pv.increase(key, title, function(view) {
        var els = document.querySelectorAll("[data-page-key='" + key + "']");
        els.forEach(function(el) { el.textContent = view; });
      });
    })();
  </script>
{%- endif -%}