/* start custom scss snippet */

@view-transition {
  navigation: auto;
}

.email-link {
  font-family: map-get($base, font-family-code);
  font-weight: 500;
  font-size: 15px;
}

.mono-font {
  font-family: map-get($base, font-family-code);
  font-variant-ligatures: none; /* Deactivates standard ligatures */
  font-feature-settings: "liga" 0, "calt" 0; /* Deactivates discretionary ligatures */
}

.article__content .footnotes {
  border-top: none;
  margin-top: 0;
}

figure {
  text-align: center;
}

figure img {
  display: block;
  margin: 0 auto;
}

/* end custom scss snippet */
