/* start custom scss snippet */
.email-link {
  font-family: map-get($base, font-family-code);
  font-weight: 500;
  font-size: 15px;
}

.mono-font {
  font-family: map-get($base, font-family-code);
  font-variant-ligatures: none; /* Deactivates standard ligatures */
  font-feature-settings: "liga" 0, "calt" 0; /* Deactivates discretionary ligatures */
}
/* end custom scss snippet */
