---
# Only the main Sass file needs front matter (the dashes are enough)
---

// To call the main fonts

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
//@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css');
//@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@300;400;500;600&family=Google+Sans+Code:wght@300;400;500;600&display=swap');

@import

    "common/variables",

    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",

    "common/function",
    "common/classes",
    "common/reset",
    "common/print",
    "common/components/button",
    "common/components/image",
    "common/components/card",
    "common/components/gallery",
    "common/components/hero",
    "common/components/menu",
    "common/components/modal",
    "common/components/toc",
    "common/components/item",
    "common/components/swiper",

    "animate/fade-in",
    "animate/fade-in-down",
    "animate/fade-in-up",

    "components/main",
    "components/header",
    "components/footer",
    "components/article-list",
    "components/article-info",
    "components/article-header",
    "components/article-content",
    "components/article-footer",
    "components/author-links",
    "components/author-profile",
    "components/tags",
    "components/search",
    "components/lightbox",
    "components/extensions",


    "additional/alert",
    "additional/tag",
    "additional/photo-frame",

    "layout/base",
    "layout/page",

    "layout/article",
    "layout/articles",
    "layout/archive",
    "layout/home",
    "layout/landing",
    "layout/404",

    "custom"
;