---
layout: articles
title: Blog
excerpt: "🖖"
pagination:
  enabled: true
  per_page: 3
  collection: posts
  permalink: "/page/:num/"
  indexpage: "index.html"
  sort_field: "date"
  sort_reverse: true
article_header:
  type: overlay
  theme: dark
  background_color: '#002240'
  background_image:
    gradient: 'linear-gradient(135deg, rgba(0, 0, 0 , 0.8), rgba(255, 255, 255, 0))'
    src: /assets/images/blog-cover.jpg
articles:
  data_source: site.posts
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---


{% assign posts_to_show = paginator.posts %}
{% include article-list.html articles=posts_to_show %}

<br>
{% include paginator.html paginator=paginator %}
<br>