.team-person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.team-avatar-container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.team-avatar-container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.team-avatar-container:hover {
  transform: scale(0.54);
}
.team-container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.team-circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.team-img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-avatar-container:hover .team-img {
  transform: translateY(0) scale(1.2);
}
.team-img-1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.team-img-2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.team-img-3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.team-divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.team-name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.team-title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}