.profile-person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}
.profile-avatar-container {
  border-radius: 50%;
  height: 220px;
  width: 400px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.profile-avatar-container:hover {
  transform: scale(0.5);
}
.profile-container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 160 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -300px;
  //user-select: none; /* Evita selección de texto o elementos internos */
  //-webkit-user-select: none; /* Compatibilidad con Safari y Chrome */
  //-ms-user-select: none; /* Compatibilidad con IE/Edge antiguo */
}
.profile-circle {
  background: linear-gradient(135deg, #054c1e, #0ebb4a);
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.profile-img {
  left: 35px;
  top: 210px;
  width: 330px;
  pointer-events: none;
  position: relative;
  object-position: center; /* Mantiene la imagen centrada */
  transform: translateY(20px) scale(1.1);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.profile-avatar-container:hover .profile-img {
  transform: translateY(0) scale(1.12);
}
.profile-circle-shadow {
  position: absolute;
  top: -90px; /* misma posición que profile-circle */
  left: 10px; /* misma posición que profile-circle */
  width: 380px; /* mismo tamaño que profile-circle */
  height: 380px; /* mismo tamaño que profile-circle */
  border-radius: 50%; /* para mantenerlo circular */
  background: transparent; /* sin relleno */
  pointer-events: none; /* para no interferir con eventos */
  @include box-shadow(2); /* aplica la sombra desde tu mixin */
}

.profile-description {
  flex: 1;
  min-width: 250px;
  text-align: justify;
  margin-left: 60px;
  align-items: center;
}

@media (max-width: 768px) {
  .profile-description {
    margin-left: 0; /* Remove left margin for proper alignment */
    text-align: center; /* Optional: Center-align text */
  }
}