---
layout: page
titles:
  # @start locale config
  en      : &EN       Blog
  # @end locale config
---

<p><b><i> :hammer_and_wrench: This page is a work in progress.</i></b></p> I want to share some exercises that I think are interesting across different areas. I'm not planning to add a comments section for now, but you can reach me by email if you need to. Stay tuned! <br> <br>

<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archive.js -%}
</script>

{{ content }}
